/* leave background white */
html {
    width: 100%;
    background: white;
}

/* questions and headers large and bold */
header {
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.starterPrompt {
    text-align: center;
    color: purple;
}

.header-name {
    color: purple;
}

.top-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* top timer */
.timer-counter {
    color: purple;
    text-align: left;
}

/* high scores purple text */
.high-scores {
    text-align: center;
    color: purple;
    text-align: right;
}

.hide {
    display: none;
}

#listHighScores {
    margin-left: 700px;
    text-decoration: overline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    font-size: 20px;
    color: purple;
    font-weight: bold;
    text-transform: uppercase;
}

#questionsContainer {
    font-size: large;
    font-weight: bold;
}

.header-name{
    margin-left: 640px;
    margin-top: 30px;
}

.startBtn {
    text-align: center;
}
#questionPrompt {
    margin-left: 600px;
    margin-top: 30px;
    color: purple;
}
#answerList {
    margin-left: 680px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: column;
}

#submitAnswerBtn {
    align-text: center;
    margin-left: 725px;
    width: 100px;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

#nxtBtn {
    margin-left: 70px;
    width: 50px;
    margin-top: 30px;
    flex-direction: column;
}

.completed {
    margin-left: 600px;
    margin-top: 50px;
}

#questionPrompt {
    color: purple;
}

#scoresBtns {
    margin-left: 690px;
}

/* buttons purple, white text */
button {
    text-align: center;
    background: purple;
    color: whitesmoke;
    border-radius: 8px;
}

/* color change when hover over button */
button:hover {
    cursor: grab;
    background: rgb(105, 64, 105);
}

/* initials list hightlight purple */
#initials {
    color: black;
    background-color: purple;
}
