/* leave background white */
html {
    background: white;
    display: flex;
    flex-wrap: wrap;
}

/* questions and headers large and bold */
header {
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.questions {
    font-size: large;
    font-weight: bold;
}
.topper {
    display: flex;
    justify-content: space-between;
}
/* high scores purple text */
.high-scores {
    color: purple;
}

/* timer purple text */
.timer {
    color: purple;
}

/* buttons purple, white text */
button {
    background: purple;
    color: whitesmoke;
    border-radius: 8px;
}

button:hover {
    cursor: grab;
    background: rgb(105, 64, 105);
}

.startBtn {
    align-items: center;
}

/* initials list hightlight purple */
#initials {
    color: black;
    background-color: purple;
}
