/* leave background white */
html {
    background: white;
    display: flex;
    flex-wrap: wrap;
}

/* questions and headers large and bold */
header {
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.starterPrompt {
    text-align: center;
    color: purple;
}

.header-name {
    color: purple;
}

.top-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* top timer */
.timer-counter {
    color: purple;
    text-align: left;
}

/* high scores purple text */
.high-scores {
    text-align: center;
    color: purple;
    text-align: right;
}

/* #openingContainer {
    display: none;
} */

#scoringContainer {
    display: none;
}

#questionsContainer {
    display: none;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.startBtn {
    text-align: center;
}

/* buttons purple, white text */
button {
    text-align: center;
    background: purple;
    color: whitesmoke;
    border-radius: 8px;
}

.btnHide {
    display: none;
    background: purple;
    color: whitesmoke;
    border-radius: 8px;
}


/* color change when hover over button */
button:hover {
    cursor: grab;
    background: rgb(105, 64, 105);
}

/* initials list hightlight purple */
#initials {
    display: none;
    color: black;
    background-color: purple;
}
